.center{
	text-align: center
}

html,body{
	background: #e5e5e5;
	padding: 10px;
 	height:100%;
	
}

#mainContainer{
	border: solid 4px #694747;
    height: 100%;

}

#logoContainer{
	margin-top: 14%;
	height:50%;
}

#detailsContainer{
	margin-top: 3%;
	height:50%;
}

#mainButtons{
	margin-top: 3%;
}

#splashScreen{
	
	height: 100%
}

.undecoratedLink{
	text-decoration: none;
}

.undecoratedLink:hover{
	text-decoration: none;
}